# Frontend build & deps
frontend/.nuxt/
frontend/.output/
frontend/.env
frontend/node_modules/

# Go / vendor
vendor/

# PocketBase 
pb_public/
pb_data/

# OS / editor junk (recommended)
.DS_Store
Thumbs.db